body{
    background-image: url(https://img2.rtve.es/im/3780242/?w=900);
}
h1 {
    color: green;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    background-color: burlywood; 
    display: block;
    opacity: 0.9;
}
p {
    color: black;
    background-color: rgba(230, 20, 150, 0.7)
}